<div class="row search-title-container">
	<div class="col-md-6">
		<a href="index.php"> <img class="small-logo" src="images/assets/logo.svg"> </a>
		<input type="text" class="form-control search-title" style="width:80%;" id="search-text">
		<a href="#" class="glyphicon glyphicon-search block-icon"></a>
	</div>

	<div class="col-md-4">
	</div>

</div>

<div class="row">
	<a href="index.php" id="back-button"><i class="glyphicon glyphicon-arrow-left"></i> go back</a>
</div>

<div class="main-movie-area">
	<img src="<%= encodeURI(image) %>" class="thumbnail-large">
	<div class="movie-info">
		<div class="movie-title">
			<h3 class="movie-name"><%= mName %></h3>
			<h4 class="movie-year">(<%= year %>)</h4>
			<a id="watch-movie" target="_blank" href="http://www.netflix.com/WiPlayer?movieid=<%= netflixId %>"><i class="glyphicon large glyphicon-play-circle"></i></a>
		</div>

		<!-- Ratings -->
		<div class="rating-group">		
			<span class="rating imdb-rating"><%= rating.imdb || "N/A"  %></span>
			<img src="images/assets/rt_tomatometer.png" class="rating-icon tomatometer">
			<span class="rating critics-rating"><%= rating.critics_score || "N/A" %>%</span>
			<img src="images/assets/rt_audience.png" class="rating-icon audience">
			<span class="rating audience-rating"><%= rating.audience_score || "N/A" %>%</span>
			<br />

			<!-- Classification -->
			<span class="rating rating-icon family-rating <%= rFamily %>"> </span>
			<span class="rating run-time"><%= runtime || "" %></span> 
			<span class="rating genre"><%= (genres || []).join("&nbsp; &nbsp; &nbsp;") %></span>
		</div>

		<!-- Key People -->
		<div class="key-people">
			<strong>Director: </strong> 
				<%= (directors || ["(Not Available)"]).join(", ") %>
			<br />
			<strong>Writers: </strong>
				<%= (writers || ["(Not Available)"]).join(", ") %>
			<br />
			<strong>Stars: </strong> 
				<%= (actors || ["(Not Available)"]).join(", ") %>
			<br />
		</div>

		<!-- Description -->
		<p> Summary </p>
		<p class="plot"><%= plot %></p>	
			
			<!--
			<img src="images/assets/rt_tomatometer.png" class="rating-icon tomatometer">
			<span class="rating critics-rating"><%= rating.critics_score || "N/A" %>%</span>
			<img src="images/assets/rt_audience.png" class="rating-icon audience">
			<span class="rating audience-rating"><%= rating.audience_score || "N/A" %>%</span>
			-->
	</div>
</div>
