<div class="search-container">
	<div class="row">
		<img class="main-logo" src="images/assets/logo.svg">
	</div>

	<div class="row">
		<div class="search_centered">
			<h3 id="welcome-msg"> What kind of movie are you in the mood for? </h3>
			<input type="text" class="form-control" id="search-text" placeholder="Search for movies, actors and ratings">
			<button class="btn btn-default" id="search-submit">Search</button>
			<a id="browse" href="/browse">I just want to browse!</a> 
		</div>
	</div>

	<div class="row">
		<div class="centered">
			<a href="http://www.imdb.com"> <img class="third-party-logo imdb" src="images/assets/imdb2.png"> </a>
			<a href="http://www.netflix.com"> <img class="third-party-logo netflix" src="images/assets/netflix.png"> </a>
			<a href="http://www.rottentomatoes.com"> <img class="third-party-logo rottentomatoes" src="images/assets/rottentomatoes1.png"> </a>
		</div>
	</div>
</div>
